.sidebar {
  width: 250px;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #1e293b,
    #0f172a
  );
  padding: 15px;
}

.sidebar .nav-link {
  color: #ffffff !important;
  margin-bottom: 8px;
  padding: 12px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 17px;
}

.sidebar .nav-link:hover {
  background: linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
  );

  transform: translateX(8px);

  color: white !important;

  box-shadow: 0px 4px 12px
    rgba(37, 99, 235, 0.4);
}

.sidebar .nav-link.active {
  background: linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
  );

  color: white !important;

  font-weight: bold;
}

.sidebar small {
  color: #94a3b8;
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar hr {
  border-color: #334155;
}
.logout-btn {
  margin-top: 25px;
  background: #dc2626 !important;
  color: white !important;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.logout-btn:hover {
  background: #ff0000 !important;
  color: white !important;
  transform: translateX(8px);
  box-shadow: 0px 4px 12px rgba(255, 0, 0, 0.5);
}
.sidebar .nav-link:hover {
  background: linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
  );
}
.sidebar .logout-btn {
  margin-top: 25px;
  background: #dc2626 !important;
  color: white !important;
  border-radius: 10px;
}

.sidebar .logout-btn:hover {
  background: #ff0000 !important;
  color: white !important;
  box-shadow: 0 4px 12px rgba(255,0,0,.5);
  transform: translateX(8px);
}